<nav class="navbar-expand-md border-bottom mb-3">
  <div class="container">
    <ul class="nav justify-content-center style-type-none">
      <li class="nav-item style-type-none">
        <a
          class="nav-link text-center text-secondary"
          routerLink="/home"
          routerLinkActive="text-dark routerLinkActiveBackground"
          >Home
        </a>
      </li>

      <li class="nav-item style-type-none">
        <a
          class="nav-link text-center text-secondary"
          routerLink="/portfolio"
          routerLinkActive="text-dark routerLinkActiveBackground"
          >Portfolio
        </a>
      </li>

      <li class="nav-item style-type-none">
        <a
          class="nav-link text-center text-secondary"
          routerLink="/resume"
          routerLinkActive="text-dark routerLinkActiveBackground"
          >Resume
        </a>
      </li>

      <li class="nav-item style-type-none">
        <a
          class="nav-link text-center text-secondary"
          routerLink="/contact"
          routerLinkActive="text-dark routerLinkActiveBackground"
          >Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
